---
---

$primary: #00716f;
$shadow-color: #580e1a;
$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;
$font-family-serif: 'Playfair Display', 'Times New Roman', serif;

$font-size-base: 1.1rem;

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.5;

$navbar-padding-x:            0;

$body-color: $primary;
$table-border-color: $primary;

@import 'bootstrap';

html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(#567473, #335453);
  background-attachment: fixed;
}

#banner {
  background-color: #e8c4c6;
  background-image: url("{{ site.baseurl }}{% link /assets/banner-bg.jpg %}");
  background-position: center;
  background-size: cover;
  box-shadow: 0 5px 15px 0 rgba($shadow-color,0.25);
}

#banner > img {
  max-height: 400px;
}

#venue-map > iframe {
  width: 100%;
  height: 500px;
  background: #ddd;
}

#venue-map > iframe,
#venue-map-2 > img {
  box-shadow: 0 0 15px 0 rgba($shadow-color,0.1);
}

nav a {
  font-weight: 700;
  font-size: 1.25rem;
  color: $primary !important;
}

h1, h2, h3 {
  font-family: $font-family-serif;
  font-weight: 900;
  font-style: italic;
}

h2, h3 {
  margin-top: 3rem;
}

.container {
  background: #f6e9ea;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
  overflow-x: hidden;
}

table {
  @extend .table;
}

table, thead, tbody, th, td {
  border-width: 1px !important;
}
